@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

body {
    font-family: 'Google Sans Flex', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #050505;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30vw;
    background-color: #1a1a1a;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #3d3d3d;
    transition: ease-in-out 0.2s;
}

.separator {
    height: 1px;
    background-color: #3d3d3d;
    margin: 10px 0;
}

.code {
    font-weight: 800;
    font-size: 4rem;
    padding-bottom: 0;
    margin: 1vh 0;
}

.name {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0;
}

.city {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    gap: 2vh;
    align-items: center;
    flex-wrap: wrap;
}

.card:hover {
    cursor: pointer;
    background-color: #0e0e0e;
    border-color: #d03636;
    box-shadow: 0 0 5px rgba(208, 54, 54, 0.5);
}

.check {
    accent-color: #d03636;
    width: 20px;
    height: 20px;
    cursor: pointer;;
    margin-left: 30px;
}

.last {
    display: flex;
    align-items: center;
}

.title {
    text-align: center;
    margin: 7vh 0;
    font-size: 3rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #1a1a1a;
    border-radius: 8px;
    padding: 50px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #3d3d3d;
    transition: ease-in-out 0.2s;
    width: 25vw;
    margin-top: 3vh;
}

label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.form-group input, .search {
    font-family: "Google Sans Flex", sans-serif;
    width: 20vw;
    padding: 8px;
    border: 1px solid #3d3d3d;
    border-radius: 4px;
    background-color: #2a2a2a;
    color: #f5f5f5;
    font-size: 1rem;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.form-group input:focus, .search:focus {
    outline: none;
    border-color: #d03636;
    box-shadow: 0 0 5px rgba(208, 54, 54, 0.5);
}

.submit-btn {
    background-color: #d03636;
    font-family: "Google Sans Flex", sans-serif;
    font-weight: 700;
    color: #f5f5f5;
    border: none;
    padding: 20px 70px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 3vh;
}

.home {
    color: #d03636;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 3vh;
    text-decoration: underline;
}

.link {
    color: #d03636;
    text-decoration: none;
    font-size: 1.2rem;
}

.link:hover {
    text-decoration: underline;
}

.links {
    display: flex;
    align-items: center;
    gap: 30vw;
    margin: 30px;
    height: 10vh;
}

.search {
    margin-bottom: 3vh;
    margin-right: 1.7vw;
}