<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airport Codes</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="links">
        <a href="{{ url_for('create_item') }}" class="link">Add Airport</a>
        <h1 class="title">Airport Codes</h1>
        <a href="{{ url_for('delete_item') }}" class="link">Delete Airport</a>
    </div>

    <form method="GET" action="/" class="search-container">
        <input type="text" name="q" class="search" placeholder="Search by Airport Code..." value="{{ request.args.get('q', '') }}">
    </form>

    <div class="container">
        {% for item in items %}
        <div class="card">
            <p class="code">{{ item.code }}</p>
            <div class="separator"></div>
            <p class="name">{{ item.name }}</p>

            <div class="last">
                <p class="city">📍 {{ item.location }}</p>

                <input type="checkbox" class="check" data-key="{{ item.code }}">
            </div>
        </div>
        {% else %}
        <p style="color: gray; text-align: center; width: 100%; margin-top: 20px;">
            No airports found. Add some!
        </p>
        {% endfor %}
    </div>

<script>
    const boxes = document.querySelectorAll(".check");

    boxes.forEach(box => {
        const key = box.dataset.key;
        const saved = localStorage.getItem(key);
        if (saved !== null) box.checked = saved === "true";
    });

    boxes.forEach(box => {
        box.addEventListener("change", () => {
            const key = box.dataset.key;
            localStorage.setItem(key, box.checked);
        });
    });
</script>

</body>
</html>