<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airport Codes</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="links">
        <a href="add.html" class="link">Add Airport</a>
        <h1 class="title">Airport Codes</h1>
        <a href="add.html" class="link">Delete Airport</a>
    </div>
    <input type="text" class="search" placeholder="🔍 Search by Airport Code....">
    <div class="container">
        <div class="card">
            <p1 class="code">JFK</p1>
            <div class="separator"></div>
            <p1 class="name">John F. Kennedy International Airport</p1>
            <div class="last">
                <p1 class="city">📍New York City, USA</p1>
                <input type="checkbox" class="check"></input>
            </div>
        </div>
        <div class="card">
            <p1 class="code">MAA</p1>
            <div class="separator"></div>
            <p1 class="name">Chennai International Airport</p1>
            <div class="last">
                <p1 class="city">📍Chennai, India</p1>
                <input type="checkbox" class="check"></input>   
            </div>         
        </div>
        <div class="card">
            <p1 class="code">LHR</p1>
            <div class="separator"></div>
            <p1 class="name">London Heathrow International Airport</p1>
            <div class="last">
                <p1 class="city">📍London, UK</p1>
                <input type="checkbox" class="check"></input>
            </div>
        </div>
    </div>
</body>
</html>