@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

body {
    font-family: 'Google Sans Flex', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #050505;
    color: #f5f5f5;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30vw;
    background-color: #1a1a1a;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #3d3d3d;
    transition: ease-in-out 0.2s;
}

.separator {
    height: 1px;
    background-color: #3d3d3d;
    margin: 10px 0;
}

.code {
    font-weight: 800;
    font-size: 4rem;
    padding-bottom: 0;
}

.name {
    font-weight: 600;
    font-size: 1.5rem;
}

.container {
    display: flex;
    justify-content: center;
    gap: 2vh;
    align-items: center;
}

.card:hover {
    cursor: pointer;
    background-color: #282828;
}

.check {
    accent-color: #d03636;
    margin-left: 20.65vw;
}

.last {
    display: flex;
}

